<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="login_container">
        <h3> Enter Credentials to Login</h3>
        <form method="post">
        <table>
            <tr><td>Enter Login ID : </td><td><input type="text" name="user_id" id="login"></td></tr>
            <tr><td>Enter Password : </td><td><input type="password" name="user_pass" id="pass"></td></tr>
            <tr><td></td><td><input type="submit" formaction="/dashboard" name="login_me"></td></tr>
        </table>
        </form>
    </div>
</body>
</html>